/* base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fcf5e9;
  --container-wide: 1400px;
  --container-normal: 1100px;
  --container-narrow: 900px;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* utility classes */

.bg-primary {
  background-color: var(--primary-color);
}

/* container */

.container {
  max-width: var(--container-normal);
  margin: 0px auto;
  padding: 0px 1.5rem;
}

.container-lg {
  max-width: var(--container-wide);
}

.container-sm {
  max-width: var(--container-narrow);
}

/* header */

.header {
  margin: 1.5rem auto;

  .logo {
    width: 130px;
  }

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;     
  }

  .main-menu {
    display: flex;
    gap: 1rem;

    a {
      padding: 0.5rem 1rem;
        
      &:hover {
        background: var(--primary-color);
      }
        
      &.current { /* applies decoration to the current page */
        background: var(--primary-color);
        font-weight: 600;
      }
    }
  }
}

/* hero section */

.hero {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
  }
}

/* media queries */

@media screen and (max-width: 768px) {
  .header-flex {
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero {
    height: 300px;

    h2 {
      font-size: 1.8rem;
    }
  }
}