* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-gradient: linear-gradient(90deg, rgba(46,41,213,1) 0%, rgba(112,255,148,1) 100%);
    --transparent-gradient: linear-gradient(90deg, rgba(46,41,213,0.8) 0%, rgba(112,255,148,0.8) 100%);
}

body, html {
    font-family: Poppins, sans-serif;
    background-color: rgb(240, 240, 240);
    scroll-behavior: smooth;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    gap: 10px;
    background: var(--primary-gradient);
    padding-bottom: 10px;
    padding-top: 10px;

    &.transparent {
        background: var(--transparent-gradient);
    }
    
    h1 {
        color: #fff;
    }

    ul {
        display: flex;
        gap: 45px;
        list-style: none;
        
        a {
            color: #fff;
            font-weight: 600;
            font-size: 18px;
        }

        a {
            text-decoration: none
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    max-width: 60vw;


    .card {
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        background-color: #fff;
        width: 100%;

        h2 {
            text-align: center;
            background: var(--primary-gradient);
            padding: 10px;
            color: #fff;
            border-radius: 10px;
        }
    }

    img {
        max-width: 100%;
        padding: 10px 20px 0px 20px;
    }

    p {
        line-height: 1.5;
        padding: 0px 20px 20px 20px;
    }
}

@media (max-width: 792px) {
    main {
        max-width: 90vw;
    }
}